parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Pest\\\\PendingCalls\\\\TestCall\\:\\:expect\\(\\)\\.$#"
			count: 1
			path: tests/ArchTest.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 31
			path: tests/ContactDataTest.php

		-
			message: "#^Access to an undefined property Envor\\\\Platform\\\\Tests\\\\Fixtures\\\\TestModel\\:\\:\\$landingPage\\.$#"
			count: 2
			path: tests/Fixtures/TestModel.php

		-
			message: "#^Access to an undefined property Envor\\\\Platform\\\\Tests\\\\Fixtures\\\\TestModel\\:\\:\\$name\\.$#"
			count: 1
			path: tests/Fixtures/TestModel.php

		-
			message: "#^Access to an undefined property Envor\\\\Platform\\\\Tests\\\\Fixtures\\\\TestModel\\:\\:\\$profile_photo_path\\.$#"
			count: 3
			path: tests/Fixtures/TestModel.php

		-
			message: "#^Left side of && is always true\\.$#"
			count: 1
			path: tests/Fixtures/TestModel.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: tests/Fixtures/TestModel.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 14
			path: tests/LandingPageTest.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 6
			path: tests/ProfilePhotoTest.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 5
			path: tests/UpdateModelDomainTest.php
